<div id="tab-saving" name="tab-saving" class="confirm" style="display: block">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-database fa-fw"></i> Unable to parsed into HTML - Will not be saved!
      <div class="pull-right">
        <a id="cancel" name="cancel" class="btn btn-default btn-xs" href="/languagestring/">Cancel</a>
      </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div id="badHtmlHandsonTable" class="hot handsontable"></div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-database fa-fw"></i> Change Reviews
      <div class="pull-right">
        <a id="confirm" name="confirm" class="btn btn-default btn-xs" href="#" onClick="confirm()">Confirm</a>
        <a id="cancel" name="cancel" class="btn btn-default btn-xs" href="/languagestring/">Cancel</a>
      </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div id="confirmHandsonTable" class="hot handsontable" ></div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<div id="tab-review" name="tab-review" class="review">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-database fa-fw"></i> Review Saved
      <div class="pull-right">
        <a id="cancel" name="cancel" class="btn btn-default btn-xs" href="/languagestring/">Back to Main</a>
      </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div id="savedHandsonTable" class="hot handsontable" ></div>
      <pre id="diff"></pre>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-database fa-fw"></i> Review NOT Saved
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div id="notSavedHandsonTable" class="hot handsontable" ></div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.review -->
